


.style1
        {
            font-family: "Arial Black";
            font-weight: bold;
            
        }
        .style3
        {
            text-align: center;
            background-color: #7FFFD4;
        }
        #Tour0
        {
            margin-left: 123px;
        }7FFFD4
        .style4
        {
            font-family: "Arial";
            font-weight: bold;
            color: #FFFFFF;
        }
        .style5
        {
            background-color: #F8F8FF;
        }
        .style6
        {
            font-family: "Copperplate Gothic Bold";
            font-weight: bold;
            color: #7FFFD4;
            background-color: black;
        }
